/**********************Variables**********************/
$mobile: 375px;
$desktop: 1440px;

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-greyish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-grey: hsl(0, 0%, 98%);

$body-font-size: 16px;
$regular: 400;
$medium: 500;
$bold: 700;

$button-radius: 1.5rem;
$button-paddding: 0.7rem 1.6rem 0.7rem 1.6rem;
$button-shadow: 0 0.5rem 0.5rem -0.25rem;

/**********************General**********************/
body{
	font-family: 'Be Vietnam', sans-serif;
	font-size: $body-font-size;
}
button{
	color: $very-light-grey;
	font-weight: bold;
	border-radius: $button-radius;
	padding: $button-paddding;
	background-color: $bright-red;
	border: none;
	-webkit-box-shadow: $button-shadow $bright-red;
	   -moz-box-shadow: $button-shadow $bright-red;
	        box-shadow: $button-shadow $bright-red;
}

/**********************Header**********************/

/**********************Build**********************/
.build{
	display: grid;
	grid-template-areas: 
						"graphs"
						"message"
						"button";
	justify-items: center;
	align-items: center;
	grid-gap: 0.5rem;
	grid-column-gap: 4rem;
	text-align: center;
	padding: 0.8rem;
	@media screen and (min-width: $mobile+1){
		grid-template-areas:
							"message graphs"
							"button graphs";
		grid-template-columns: 0.6fr auto;
		text-align: left;
		justify-content: center;
	}
}
.build__header{
	color: $very-dark-blue;
	font-weight: bold;
	font-size: 2rem;
	line-height: 2.5rem;
	padding-bottom: 0.5rem;
	@media screen and (min-width: $mobile+1){
		font-size: 2.5rem;
		line-height: 3rem;
		padding-bottom: 1.7rem;
	}
}
.build__text{
	color: $dark-greyish-blue;
	padding-bottom: 1rem;
	@media screen and (min-width: $mobile+1){
		padding-bottom: 0;
		width: 80%;
	}
}
.build__message{
	grid-area: message;
	@media screen and (min-width: $mobile+1){
		align-self: end;
		padding-bottom: 1.5rem;
	}
}	
.build__graphs{
	grid-area: graphs;
	max-width: 100%;
}
.build__button{
	grid-area: button;
	@media screen and (min-width: $mobile+1){
		justify-self: start;
		align-self: start;
	}
}

/**********************Different**********************/
.different{
	text-align: center;
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: $mobile+1){
		flex-direction: row;
		justify-content: space-between;
	}
}
.different__message{
	padding: 0.7rem 1rem 1rem 1rem;
	@media screen and (min-width: $mobile+1){
		width: 70%;
		text-align: left;
		padding: 2rem 4rem 1.5rem 8rem;
	}
}
.different__header{
	color: $very-dark-blue;
	font-weight: bold;
	font-size: 1.5rem;
	padding-bottom: 0.8rem;
	@media screen and (min-width: $mobile+1){
		font-size: 2rem;
		line-height: 2.2rem;
		text-align: left;
	}
}
.different__text{
	color: $dark-greyish-blue;
	font-size: 0.7rem;
	line-height: 1.5rem;
	@media screen and (min-width: $mobile+1){
		font-size: $body-font-size;
		line-height: 1.5rem;
		padding-right: 5rem;
	}
}
.different__bullets{
	font-size: 0.7rem;
	@media screen and (min-width: $mobile+1){
		text-align: left;
		font-size: $body-font-size;
		padding-right: 7rem;
	}
}
.different__bullet{
	padding-top: 2rem;
	text-align: left;
	display: grid;
	grid-template-areas: "number numheader"
						 "bullet-text bullet-text";
	grid-template-columns: auto 1fr;
	align-items: center;
	@media screen and (min-width: $mobile+1){
		grid-template-areas: "number numheader"
							 ". bullet-text";
	}
}
.different__subheader{
	display: grid;
	grid-template-areas: "number numheader";
	grid-template-columns: auto 1fr;
	text-align: left;
	grid-area: subheader;
	@media screen and (max-width: $mobile){
		background-color: $very-pale-red;
		border-top-left-radius: $button-radius;
		border-bottom-left-radius: $button-radius;
	}
}
.different__number{
	color: $very-light-grey;
	font-weight: bold;
	background-color: $bright-red;
	padding: 0.5rem 1.2rem 0.5rem 1.2rem;
	border-radius: $button-radius;
	grid-area: number;
	z-index: 1;
}
.different__numheader{
	color: $very-dark-blue;
	font-size: 0.8rem;
	font-weight: bold;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	grid-area: numheader;
	padding-left: 2rem;
	margin-left: -1rem;
	@media screen and (max-width: $mobile){
		background-color: $very-pale-red;
	}
}
.different__bullet .different__text{
	text-align: left;
	padding: 0.5rem 0.5rem 0 0.5rem;
	grid-area: bullet-text;
	@media screen and (min-width: $mobile+1){
		padding-left: 1.2rem;
		padding-right: 2.5rem;
	}
}
	
/**********************Testimonials**********************/
.testimonials__header{
	color: $very-dark-blue;
}
.testimonials__name{
	color: $very-dark-blue;
}
.testimonials__text{
	color: $dark-greyish-blue;
}

/**********************Simplify**********************/
.simplify{
	background: $bright-red;
	background-image: url(images/bg-simplify-section-mobile.svg);
	background-repeat: no-repeat;
	background-position: left center;
	color: $very-light-grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 4.5rem 1.4rem 5rem 1.4rem;
	@media screen and (min-width: $mobile+1){
		background-image: url(images/bg-simplify-section-desktop.svg);
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}
}
.simplify__message{
	padding-bottom: 1.3rem;
	font-size: 1.9rem;
	font-weight: bold;
	line-height: 2.5rem;
	@media screen and (min-width: $mobile+1){
		line-height: 2rem;
		padding-bottom: 0rem;
		width: 40%;
		text-align: left;
		margin-left: 7rem;
	}
}
.simplify__button{
	color: $bright-red;
	background-color: $very-light-grey;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	@media screen and (min-width: $mobile+1){
		margin-right: 7rem;
	}
}

/**********************Footer**********************/
footer{
	background-color: $very-dark-blue;
	color: $very-light-grey;
}
.footer__logo{
	color: $very-light-grey;
}

/**********************Attribution**********************/
.attribution { 
	font-size: 11px; text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}