/*
TODO:
	Mobile Chrome and Safari Go button has gone mad
*/



/**********************Variables**********************/
$mobile: 640px;

$bright-red: hsl(12,88%,59%);
$dark-blue: hsl(228,39%,23%);

$dark-greyish-blue: hsl(227,12%,61%);
$very-dark-blue: hsl(233, 12%,13%);
$very-pale-red: hsl(13,100%,96%);
$very-light-grey: hsl(0,0%,98%);

$body-font-size: 16px;
$regular-font: 400;
$medium-font: 500;
$bold-font: 700;

$small-text: 0.7rem;
$very-small-text: 0.6rem;
$even-smaller-text: 0.5rem;

$button-radius: 1.5rem;
$button-paddding: 0.7rem 1.6rem 0.7rem 1.6rem;
$button-shadow: 0 .5rem .5rem -.25rem;

$grid-column-size: .6fr .6fr;
$column-gap: 4rem;
$row-gap: 0.8rem;

$page-edge-desktop: 10%;
$page-edge-mobile: 5%;

$h1-size-mobile: 1.9rem;
$h1-line-mobile: $h1-size-mobile + 0.5;
$h1-size-desktop: $h1-size-mobile + 0.8;
$h1-line-desktop: $h1-size-desktop + 0.4;

$h2-size-mobile: 1.5rem;
$h2-size-desktop: $h2-size-mobile + 0.5;
$h2-line-desktop: $h2-size-desktop + 0.2;

$text-width: 66%;

$input-padding: .5rem;

/**********************General**********************/
html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Be Vietnam', sans-serif;
	font-size: $body-font-size;
	background-image: url(images/bg-tablet-pattern.svg), url(images/bg-tablet-pattern.svg);
	background-repeat: no-repeat;
	background-position: 55vw -20vh, -35vw 120vh;
	@media screen and (max-width: $mobile) {
		background-position: 20vw -5vh, 65vw 67vh;
		background-size: contain, contain;
	}
}
button {
	color: $very-light-grey;
	font-weight: $bold-font;
	border-radius: $button-radius;
	padding: $button-paddding;
	background-color: $bright-red;
	border: none;
    box-shadow: $button-shadow $bright-red;
    cursor: pointer;
    &:hover, 
    &:active {
    	background-color: lighten($bright-red, 20%);
    	box-shadow: $button-shadow lighten($bright-red, 20%);
    }
}

header a {
	color: $dark-blue;
	text-decoration: none;
	&:hover, 
	&:active {
		color: $dark-greyish-blue;
	}
}
footer a {
	color: $very-light-grey;
	text-decoration: none;
	&:hover, 
	&:active {
		color: $bright-red;
	}
}

/**********************Header**********************/
header {
	display: grid;
	grid-template-areas: "header-logo nav";
	align-items: center;
	padding: 2rem $page-edge-mobile 2rem $page-edge-mobile;
	@media screen and (min-width: $mobile+1) {
		grid-template-areas: "header-logo nav header-button";
		grid-template-columns: auto .6fr auto;
		padding: 2.5rem $page-edge-desktop 5rem $page-edge-desktop;
	}
}
.header__logo {
	grid-area: header-logo;
}
nav {
	grid-area: nav;
	justify-self: end;
	font-size: $very-small-text;
	@media screen and (min-width: $mobile+1) {
		justify-self: stretch;
	}
}
.header__hamburger {
	position: relative; //Need this in order to put on top of the menu
	z-index: 100;
	cursor: pointer;
	@media screen and (min-width: $mobile+1) {
		display: none;
	}	
}
/* https://sabe.io/tutorials/how-to-create-modal-popup-box */
.nav__menu {
	@media screen and (max-width: $mobile) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10; //so it goes above the numbers in the different section
		background-color: rgba(0,0,0,0.3);
		background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.3));
		opacity: 0;
		visibility: hidden;
		transform: scale(1.1);
		transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	}
}
.nav__links {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-type: none;
	@media screen and (max-width: $mobile) {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 90%;
		margin-left: $page-edge-mobile;
		margin-right: $page-edge-mobile;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: $body-font-size;
		font-weight: bold;
		background-color: white;
		border-radius: .2rem;
	}
}
.nav__links li {
	@media screen and (max-width: $mobile) {
		padding: .6rem;
	}
}
.show-menu {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.header__button {
	grid-area: header-button;
	justify-self: end;
	@media screen and (max-width: $mobile) {
		display: none;
	}
}
/**********************Build**********************/
.build {
	display: grid;
	grid-template-areas: 
						"build-graphs"
						"build-message";
	padding: 0 $page-edge-mobile 0 $page-edge-mobile;
	text-align: center;
	@media screen and (min-width: $mobile+1) {
		grid-template-areas: "build-message build-graphs";
		grid-template-columns: $grid-column-size;
		padding-left: $page-edge-desktop;
		padding-right: $page-edge-desktop;
		text-align: left;
	}
}
.build__message {
	grid-area: build-message;
}	
.build__header {
	margin: 0 0 .5rem 0;
	color: $very-dark-blue;
	font-weight: $bold-font;
	font-size: $h1-size-mobile;
	line-height: $h1-line-mobile;
	@media screen and (min-width: $mobile+1) {
		font-size: $h1-size-desktop;
		line-height: $h1-line-desktop;
	}
}
.build__text {
	color: $dark-greyish-blue;
	padding-bottom: 1.7rem;
	@media screen and (min-width: $mobile+1) {
		width: $text-width;
	}
}
.build__graphs {
	grid-area: build-graphs;
	max-width: 100%;
}

/**********************Different**********************/
.different {
	display: grid;
	grid-template-areas: "different-message"
						 "different-bullets";
	padding-top: 2.5rem;
	text-align: center;
	@media screen and (min-width: $mobile+1) {
		grid-template-areas: "different-message different-bullets";
		grid-template-columns: $grid-column-size;
		grid-column-gap: $column-gap;
		padding: 4.5rem $page-edge-desktop 0 $page-edge-desktop;
	}
}
.different__message {
	grid-area: different-message;
	padding: 0 $page-edge-mobile 0 $page-edge-mobile;
	@media screen and (min-width: $mobile+1) {
		text-align: left;
		padding: 2rem 0 1.5rem 0;
	}
}
.different__header {
	color: $very-dark-blue;
	font-weight: $bold-font;
	font-size: $h2-size-mobile;
	@media screen and (min-width: $mobile+1) {
		font-size: $h2-size-desktop;
		line-height: $h2-line-desktop;
		text-align: left;
	}
}
.different__text {
	color: $dark-greyish-blue;
	font-size: $small-text;
	line-height: 1.5rem;
	@media screen and (min-width: $mobile+1) {
		width: $text-width;
		padding-right: 5rem;
		font-size: $body-font-size;
		line-height: 1.3rem;
	}
}
.different__bullets {
	grid-area: different-bullets;
	font-size: $small-text;
	@media screen and (min-width: $mobile+1) {
		text-align: left;
		font-size: $body-font-size;
	}
}
.different__bullet {
	display: grid;
	grid-template-areas: "different-number different-numheader"
						 "different-bullet-text different-bullet-text";
	grid-template-columns: auto 1fr;
	align-items: center;
	padding-top: 2rem;
	text-align: left;
	@media screen and (min-width: $mobile+1) {
		grid-template-areas: "different-number different-numheader"
							 ". different-bullet-text";
	}
}
.different__number {
	grid-area: different-number;
	padding: .5rem 1.2rem .5rem 1.2rem;
	color: $very-light-grey;
	font-weight: $bold-font;
	background-color: $bright-red;
	border-radius: $button-radius;
	z-index: 1;
}
.different__numheader {
	grid-area: different-numheader;
	padding: .5rem 0 .5rem 2rem;
	margin-left: -1rem;
	color: $very-dark-blue;
	font-size: .8rem;
	font-weight: $bold-font;
	@media screen and (max-width: $mobile) {
		background-color: $very-pale-red;
	}
}
.different__bullettext {
	grid-area: different-bullet-text;
	padding: .5rem .5rem 0 .5rem;
	color: $dark-greyish-blue;
	line-height: 1.3rem;
	text-align: left;
	@media screen and (min-width: $mobile+1) {
		padding-right: 0;
		padding-left: 1rem;
	}
}
	
/**********************Testimonials**********************/
.testimonials {
	padding: 2rem 0 2rem 0;
	text-align: center;
	@media screen and (min-width: $mobile+1) {
		padding-bottom: 9rem;
	}
}
.testimonials__slider {
	padding-top: 4rem;
	margin-bottom: 1rem;
	display: flex;
	scrollbar-width: none;
	-ms-overflow-style: none;
	cursor: grab;
	&::-webkit-scrollbar {
		height: 0;
		width: 0;
		background: transparent;
	}
	overflow-x: auto;
	scroll-behavior: smooth;
	   -moz-user-select: none;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.active{
	scroll-behavior: auto;
	cursor: grabbing;
}
.testimonials__header {
	color: $very-dark-blue;
	font-size: $h2-size-mobile;
	font-weight: $bold-font;
	@media screen and (min-width: $mobile+1) {
		font-size: $h2-size-desktop;
	}
}
.testimonials__person {
	position: relative;
	margin-right: 1rem;
	padding-top: 3rem;
	min-width: 100%;
	background-color: $very-light-grey;
	@media screen and (min-width: $mobile+1) {
		margin-right: 2rem;
		min-width: 27rem;
	}
}
.testimonials__photo {
	position: absolute;
	top: -1.6rem;
	left: 50%;
	width: 3.5rem;
	height: auto;
	margin-left: -1.6rem;
}
.testimonials__name {
	color: $very-dark-blue;
	font-weight: $bold-font;
}
.testimonials__text {
	padding: .5rem 2rem 2rem 2rem;
	color: $dark-greyish-blue;
	line-height: 1.3rem;
}
.testimonials__dots {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	@media screen and (min-width: $mobile+1) {
		display: none;
	}
}
.testimonials__dot {
	height: .3rem;
	width: .3rem;
	margin: 0.1rem;
	background-color: white;
	border: 1px solid $bright-red;
	border-radius: 50%;
	cursor: pointer;
}
.filled-dot {
	background-color: $bright-red;
}

/**********************Simplify**********************/
.simplify {
	display: grid;
	grid-template-areas: "simplify-message"
						  "simplify-button";
	padding: 4.5rem $page-edge-mobile 5rem $page-edge-mobile;
	justify-items: center;
	color: $very-light-grey;
	text-align: center;
	background: $bright-red;
	background-image: url(images/bg-simplify-section-mobile.svg);
	background-repeat: no-repeat;
	background-position: left center;
	@media screen and (min-width: $mobile+1) {
		grid-template-areas: "simplify-message simplify-button";
		grid-template-columns: $grid-column-size;
		grid-column-gap: $column-gap;
		align-items: center;
		padding: 3.5rem $page-edge-desktop 3.5rem $page-edge-desktop;
		background-image: url(images/bg-simplify-section-desktop.svg);
		background-position: 16vw bottom;
	}
}
.simplify__message {
	grid-area: simplify-message;
	padding-bottom: 1.3rem;
	font-size: 1.9rem;
	font-weight: $bold-font;
	line-height: 2.5rem;
	@media screen and (min-width: $mobile+1) {
		line-height: 2rem;
		padding-bottom: 0;
		text-align: left;
	}
}
.simplify__button {
	grid-area: simplify-button;
	color: $bright-red;
	background-color: $very-light-grey;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
    &:hover, 
    &:active {
    	color: lighten($bright-red, 20%);
		background-color: $very-light-grey;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
	    	    box-shadow: none;
    }
	@media screen and (min-width: $mobile+1) {
		justify-self: end;
	}
}

/**********************Footer**********************/
footer {
	display: grid;
	grid-template-areas: "footer-updates"
						 "footer-links"
						 "footer-social"
						 "footer-logo"
						 "footer-copyright";
	grid-row-gap: 2.5rem;
	justify-items: center;
	padding: 2.5rem 0 2rem 0;
	background-color: $very-dark-blue;
	color: $very-light-grey;
	@media screen and (min-width: $mobile+1) {
		grid-template-areas: "footer-logo footer-links footer-updates"
							 "footer-social footer-links footer-copyright";
		align-items: start;
		padding: 3.2rem $page-edge-desktop 2rem $page-edge-desktop;
	}
}
.footer__logo {
	grid-area: footer-logo;
	@media screen and (min-width: $mobile+1) {
		justify-self: start;
	}

}
.footer__social {
	grid-area: footer-social;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	@media screen and (max-width: $mobile) {
		width: 100%;
	}
	@media screen and (min-width: $mobile+1) {
		justify-self: start;
	}		
	a {
		padding: 0.3rem;
		&:first-of-type {
			@media screen and (min-width: $mobile+1) {
				padding-left: 0;
			}
		}
		&:hover, //change to orange on hover
		&:active {
			filter: brightness(0) saturate(100%) invert(55%) sepia(79%) saturate(4231%) hue-rotate(340deg) brightness(101%) contrast(90%);
		}
		@media screen and (max-width: $mobile) {
			width: 10%;
			padding: 0.7rem;
		}
	}
}
.footer__links {
	justify-self: stretch;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	font-size: $small-text;
	@media screen and (min-width: $mobile+1) {
		grid-row: 1 / span 2;
		justify-content: space-between;
	}
	ul {
		list-style-type: none;
	}
	li {
		margin-bottom: .5rem;
		@media screen and (min-width: $mobile+1) {
			margin-bottom: 0.7rem;
		}
	}
}
.footer__links ul {
	margin: 0;
	padding: 0;
}
.footer__updates {
	grid-area: footer-updates;
	display: grid;
	grid-template-areas: "footer-input footer-submit"
						 "footer-invalid .";
	justify-items: center;
	color: $dark-greyish-blue;
	@media screen and (min-width: $mobile+1) {
		justify-self: end;
	}

}
.footer__input {
	grid-area: footer-input;
	padding: $input-padding;
	border-radius: $button-radius;
	border-style: solid;
}
input.error {
	color: $bright-red;
	&:valid {
		border-style: auto;
		border-color: inherit;
	}
}
.footer__submit {
	@extend button;	
	-webkit-appearance: none; //To stop iOS from styling this how it likes
	   -moz-appearance: none;
	        appearance: none;
	grid-area: footer-submit;
	margin-left: .3rem;
	box-shadow: none;
	&:hover, 
	&:active {
	 -webkit-box-shadow: none;
	   -moz-box-shadow: none;
	  	    box-shadow: none;
	  }
	@media screen and (max-width: $mobile) {
		text-transform: uppercase;
	}
}
.footer__invalid {
	grid-area: footer-invalid;
	justify-self: start;
	padding-left: $input-padding;
	font-size: $even-smaller-text;
	color: $bright-red;
	font-style: italic;
	visibility: hidden;
}
.footer__copyright {
	grid-area: footer-copyright;
	font-size: $very-small-text;
	color: $dark-greyish-blue;
	@media screen and (min-width: $mobile+1) {
		justify-self: end;
	}
}