/**********************Variables**********************/
/**********************General**********************/
html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  background-image: url(images/bg-tablet-pattern.svg), url(images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: 55vw -20vh, -35vw 120vh; }
  @media screen and (max-width: 640px) {
    body {
      background-position: 20vw -5vh, 65vw 67vh;
      background-size: contain, contain; } }

button, .footer__submit {
  color: #fafafa;
  font-weight: 700;
  border-radius: 1.5rem;
  padding: 0.7rem 1.6rem 0.7rem 1.6rem;
  background-color: #f25f3a;
  border: none;
  box-shadow: 0 0.5rem 0.5rem -0.25rem #f25f3a;
  cursor: pointer; }
  button:hover, .footer__submit:hover, button:active, .footer__submit:active {
    background-color: #f9ad9a;
    box-shadow: 0 0.5rem 0.5rem -0.25rem #f9ad9a; }

header a {
  color: #242d52;
  text-decoration: none; }
  header a:hover, header a:active {
    color: #9095a7; }

footer a {
  color: #fafafa;
  text-decoration: none; }
  footer a:hover, footer a:active {
    color: #f25f3a; }

/**********************Header**********************/
header {
  display: grid;
  grid-template-areas: "header-logo nav";
  align-items: center;
  padding: 2rem 5% 2rem 5%; }
  @media screen and (min-width: 641px) {
    header {
      grid-template-areas: "header-logo nav header-button";
      grid-template-columns: auto .6fr auto;
      -ms-grid-columns: 146px 6fr 1fr;
      padding: 2.5rem 10% 5rem 10%; } }

.header__logo {
  grid-area: header-logo;
  align-self: center; }

nav {
  grid-area: nav;
  justify-self: end;
  align-self: center;
  font-size: 0.6rem;
  font-weight: 500; }
  @media screen and (min-width: 641px) {
    nav {
      justify-self: stretch; } }

.header__hamburger {
  position: relative;
  z-index: 100;
  cursor: pointer; }
  @media screen and (min-width: 641px) {
    .header__hamburger {
      display: none; } }

/* https://sabe.io/tutorials/how-to-create-modal-popup-box */
@media screen and (max-width: 640px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; } }

.nav__links {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .nav__links {
      /* IE10+ CSS styles go here */
      margin-left: 10rem;
      margin-right: 10rem; } }
  @media screen and (max-width: 640px) {
    .nav__links {
      position: absolute;
      top: 5rem;
      left: 0;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      background-color: white;
      border-radius: .2rem; } }

@media screen and (max-width: 640px) {
  .nav__links li {
    padding: .6rem; } }

.show-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }

.header__button {
  grid-area: header-button;
  justify-self: end;
  align-self: center; }
  @media screen and (max-width: 640px) {
    .header__button {
      display: none; } }

/**********************Build**********************/
.build {
  display: grid;
  grid-template-areas: "build-graphs" "build-message";
  padding: 0 5% 0 5%;
  text-align: center; }
  @media screen and (min-width: 641px) {
    .build {
      grid-template-areas: "build-message build-graphs";
      grid-template-columns: 0.6fr 0.6fr;
      padding-left: 10%;
      padding-right: 10%;
      text-align: left; } }

.build__message {
  grid-area: build-message; }

.build__header {
  margin: 0 0 .5rem 0;
  color: #1d1e25;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 2.4rem; }
  @media screen and (min-width: 641px) {
    .build__header {
      font-size: 2.7rem;
      line-height: 3.1rem; } }

.build__text {
  color: #9095a7;
  padding-bottom: 1.7rem; }
  @media screen and (min-width: 641px) {
    .build__text {
      width: 66%; } }

.build__graphs {
  grid-area: build-graphs;
  max-width: 100%; }

/**********************Different**********************/
.different {
  display: grid;
  grid-template-areas: "different-message" "different-bullets";
  padding-top: 2.5rem;
  text-align: center; }
  @media screen and (min-width: 641px) {
    .different {
      grid-template-areas: "different-message different-bullets";
      grid-template-columns: 0.6fr 0.6fr;
      grid-column-gap: 4rem;
      padding: 4.5rem 10% 0 10%; } }

.different__message {
  grid-area: different-message;
  padding: 0 5% 0 5%; }
  @media screen and (min-width: 641px) {
    .different__message {
      text-align: left;
      padding: 2rem 0 1.5rem 0; } }

.different__header {
  color: #1d1e25;
  font-weight: 700;
  font-size: 1.5rem; }
  @media screen and (min-width: 641px) {
    .different__header {
      font-size: 2rem;
      line-height: 2.2rem;
      text-align: left; } }

.different__text {
  color: #9095a7;
  font-size: 0.7rem;
  line-height: 1.5rem; }
  @media screen and (min-width: 641px) {
    .different__text {
      width: 66%;
      padding-right: 5rem;
      font-size: 16px;
      line-height: 1.3rem; } }

.different__bullets {
  grid-area: different-bullets;
  font-size: 0.7rem; }
  @media screen and (min-width: 641px) {
    .different__bullets {
      text-align: left;
      font-size: 16px; } }

.different__bullet {
  display: grid;
  grid-template-areas: "different-number different-numheader" "different-bullet-text different-bullet-text";
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-top: 2rem;
  text-align: left; }
  @media screen and (min-width: 641px) {
    .different__bullet {
      grid-template-areas: "different-number different-numheader" ". different-bullet-text"; } }

.different__number {
  grid-area: different-number;
  align-self: center;
  padding: .5rem 1.2rem .5rem 1.2rem;
  color: #fafafa;
  font-weight: 700;
  background-color: #f25f3a;
  border-radius: 1.5rem;
  z-index: 1; }

.different__numheader {
  grid-area: different-numheader;
  align-self: center;
  padding: .5rem 0 .5rem 2rem;
  margin-left: -1rem;
  color: #1d1e25;
  font-size: .8rem;
  font-weight: 700; }
  @media screen and (max-width: 640px) {
    .different__numheader {
      background-color: #ffefeb; } }

.different__bullettext {
  grid-area: different-bullet-text;
  align-self: center;
  padding: .5rem .5rem 0 .5rem;
  color: #9095a7;
  line-height: 1.3rem;
  text-align: left; }
  @media screen and (min-width: 641px) {
    .different__bullettext {
      padding-right: 0;
      padding-left: 1rem; } }

/**********************Testimonials**********************/
.testimonials {
  padding: 2rem 0 2rem 0;
  text-align: center; }
  @media screen and (min-width: 641px) {
    .testimonials {
      padding-bottom: 9rem; } }

.testimonials__slider {
  padding-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  overflow-x: auto;
  scroll-behavior: smooth;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .testimonials__slider::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent; }

.active {
  scroll-behavior: auto;
  cursor: grabbing; }

.testimonials__header {
  color: #1d1e25;
  font-size: 1.5rem;
  font-weight: 700; }
  @media screen and (min-width: 641px) {
    .testimonials__header {
      font-size: 2rem; } }

.testimonials__person {
  position: relative;
  margin-right: 1rem;
  padding-top: 3rem;
  min-width: 100%;
  background-color: #fafafa; }
  @media screen and (min-width: 641px) {
    .testimonials__person {
      margin-right: 2rem;
      min-width: 27rem; } }

.testimonials__photo {
  position: absolute;
  top: -1.6rem;
  left: 50%;
  width: 3.5rem;
  height: auto;
  margin-left: -1.6rem; }

.testimonials__name {
  color: #1d1e25;
  font-weight: 700; }

.testimonials__text {
  padding: .5rem 2rem 2rem 2rem;
  color: #9095a7;
  line-height: 1.3rem; }

.testimonials__dots {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  @media screen and (min-width: 641px) {
    .testimonials__dots {
      display: none; } }

.testimonials__dot {
  height: .3rem;
  width: .3rem;
  margin: 0.1rem;
  background-color: white;
  border: 1px solid #f25f3a;
  border-radius: 50%;
  cursor: pointer; }

.filled-dot {
  background-color: #f25f3a; }

.sr-only {
  display: none; }

/**********************Simplify**********************/
.simplify {
  display: grid;
  grid-template-areas: "simplify-message" "simplify-button";
  padding: 3rem 5% 4.5rem 5%;
  justify-items: center;
  color: #fafafa;
  text-align: center;
  background: #f25f3a;
  background-image: url(images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: left center; }
  @media screen and (min-width: 641px) {
    .simplify {
      grid-template-areas: "simplify-message simplify-button";
      grid-template-columns: 0.6fr 0.6fr;
      grid-column-gap: 4rem;
      align-items: center;
      padding: 2rem 10% 2rem 10%;
      background-image: url(images/bg-simplify-section-desktop.svg);
      background-position: 16vw bottom; } }

.simplify__message {
  grid-area: simplify-message;
  justify-self: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.5rem; }
  @media screen and (min-width: 641px) {
    .simplify__message {
      justify-self: start;
      align-self: center;
      line-height: 2rem;
      text-align: left; } }

.simplify__button {
  grid-area: simplify-button;
  align-self: center;
  justify-self: center;
  color: #f25f3a;
  background-color: #fafafa;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .simplify__button:hover, .simplify__button:active {
    color: #f9ad9a;
    background-color: #fafafa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  @media screen and (min-width: 641px) {
    .simplify__button {
      justify-self: end; } }

/**********************Footer**********************/
footer {
  display: grid;
  grid-template-areas: "footer-updates" "footer-links" "footer-social" "footer-logo" "footer-copyright";
  grid-row-gap: 2.5rem;
  justify-items: center;
  padding: 2.5rem 0 2rem 0;
  background-color: #1d1e25;
  color: #fafafa; }
  @media screen and (min-width: 641px) {
    footer {
      grid-template-areas: "footer-logo footer-links footer-updates" "footer-social footer-links footer-copyright";
      -ms-grid-columns: 10fr 10fr 10fr 0.1fr;
      align-items: start;
      padding: 3.2rem 10% 2rem 10%; } }

.footer__logo {
  grid-area: footer-logo;
  justify-self: center; }
  @media screen and (min-width: 641px) {
    .footer__logo {
      justify-self: start;
      align-self: start; } }

.footer__social {
  grid-area: footer-social;
  justify-self: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }
  @media screen and (max-width: 640px) {
    .footer__social {
      width: 100%; } }
  @media screen and (min-width: 641px) {
    .footer__social {
      justify-self: start;
      align-self: start; } }
  .footer__social a {
    padding: 0.3rem; }
    @media screen and (min-width: 641px) {
      .footer__social a:first-of-type {
        padding-left: 0; } }
    .footer__social a:hover, .footer__social a:active {
      filter: brightness(0) saturate(100%) invert(55%) sepia(79%) saturate(4231%) hue-rotate(340deg) brightness(101%) contrast(90%); }
    @media screen and (max-width: 640px) {
      .footer__social a {
        width: 10%;
        padding: 0.7rem; } }

.footer__links {
  grid-area: footer-links;
  justify-self: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 0.7rem; }
  @media screen and (min-width: 641px) {
    .footer__links {
      grid-row: 1 / span 2;
      align-self: start;
      justify-content: space-between; } }
  .footer__links ul {
    list-style-type: none; }
  .footer__links li {
    margin-bottom: .5rem; }
    @media screen and (min-width: 641px) {
      .footer__links li {
        margin-bottom: 0.7rem; } }

.footer__links ul {
  margin: 0;
  padding: 0; }

.footer__updates {
  grid-area: footer-updates;
  justify-self: center;
  display: grid;
  grid-template-areas: "footer-input footer-submit" "footer-invalid .";
  justify-items: center;
  color: #9095a7; }
  @media screen and (min-width: 641px) {
    .footer__updates {
      align-self: start;
      justify-self: end; } }

.footer__input {
  grid-area: footer-input;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border-style: solid; }

input.error {
  color: #f25f3a; }
  input.error:valid {
    border-style: auto;
    border-color: inherit; }

.footer__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  grid-area: footer-submit;
  margin-left: .3rem;
  box-shadow: none; }
  .footer__submit:hover, .footer__submit:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  @media screen and (max-width: 640px) {
    .footer__submit {
      text-transform: uppercase; } }

.footer__invalid {
  grid-area: footer-invalid;
  justify-self: start;
  padding-left: 0.5rem;
  font-size: 0.5rem;
  color: #f25f3a;
  font-style: italic;
  visibility: hidden; }

.footer__copyright {
  grid-area: footer-copyright;
  justify-self: center;
  font-size: 0.6rem;
  color: #9095a7; }
  @media screen and (min-width: 641px) {
    .footer__copyright {
      align-self: start;
      justify-self: end; } }

/*# sourceMappingURL=styles.css.map */
